In [6]:
# input all links as a csv file

import pandas as pd

# Load the CSV file
all_links_input = pd.read_csv('C:\\Users\\becod\\AI\\my-projects\\Majid_immoeliza_scraping\\links\\all_links.csv', on_bad_lines='skip')

# Show the first few rows of the data
all_links_input

,Property ID,Postal code,Locality name,Price,Type of property,Number of rooms,Living area,Equipped kitchen,State of building,Number of facades,Furnished,Open fire,Swimming pool,Garden (m²),Terrace (m²)
0,20239719,4102,seraing,325000,Apartment\n,2 bedrooms,89.0,1,As new,2.0,0.0,NaN,0.0,148.0,25.0
1,20236298,2660,hoboken,249900,Apartment\n,2 bedrooms,97.0,0,As new,2.0,NaN,NaN,NaN,NaN,3.0
2,20236289,2018,antwerpen-2018,375000,Apartment\n,2 bedrooms,100.0,1,Good,NaN,NaN,NaN,NaN,NaN,20.0
3,20237641,4100,seraing,133000335000,Gastronomia,1 - 3 bedrooms,38.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20239456,1082,berchem-sainte-agathe,149000382000,Upsylon,1 - 3 bedrooms,42.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,20030209,6120,nalinnes,140000,House\n,2 bedrooms,112.0,0,To renovate,NaN,NaN,NaN,NaN,NaN,NaN
176,11181379,6142,leernes,189000,Apartment b,6 bedrooms,420.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,9885760,5660,mariembourg,700000,Apartment b,4 bathrooms,708.0,1,Good,2.0,NaN,NaN,NaN,NaN,NaN
178,10964687,6040,jumet,70000,House\n,3 bedrooms,1226.0,0,To restore,NaN,NaN,NaN,NaN,NaN,NaN
179,11367732,6000,charleroi,199000,Apartment b,6 bedrooms,540.0,0,To renovate,NaN,NaN,NaN,NaN,NaN,NaN